.tab {
    min-width: 250px;
    text-align: center;
    height: 50px;
    line-height: 40px;
    font-weight: 500;
    font-size: 1.3rem;
    margin-left: 5px;
    cursor: pointer;
}

.general-tab {
    background: #E4E6EF !important;
    color: black !important;
}

.active-tab {
    background: #009EF7 !important;
    color: white !important;
}

.main-container-dashboard {
    background: white !important;
    padding: 50px !important;
    box-shadow: 0 0px 10px rgb(0 0 0 / 20%) !important;
}

.w-170-px {
    min-width: 170px !important;
}

.button-parent-div {
    width: 100% ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    padding: 100px;
    cursor: pointer
}
.ml-xl-100 {
    margin-left: 100px;
}
@media screen and (max-width: 767px) {
    .button-parent-div {
        display: block;
    }
    .nav-item {
        margin-bottom: 16px !important;
    }
    .ml-xl-100 {
        margin-left: 0px;
    }
}
