.tscroll {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 10px;
    padding: 2px;
  }
  
  .table_header {
    position: sticky;
    right: 0;
    background: #fff;
   
  }
  
  .tscroll td, .tscroll th {
    border-bottom: dashed #888 1px;
    background: white;
    z-index: 10;
  }