.tscroll {
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 10px;
  padding: 1px;
}

.tscroll td,
.tscroll th {
  border-bottom: dashed #888 1px;
  background: white;
  z-index: 10;
}
.colum-divider td {
  border-left: dashed #888 1px !important;
  border-right: dashed #888 1px !important;
}
.table-responsive {
  overflow: visible;
}

.colum-divider td:first-child {
  border-right: none;
}
.table > thead {
  position: sticky !important;
  top: 0;
  z-index: 9999 !important;
}
.colum-divider td:last-child {
  border-right: dashed #888 1px !important;
}

.bg-red {
  background-color: #f1416c !important;
}
